config/.config/google-chrome/
config/.config/mimeapps.list
config/.config/kactivitymanagerdrc
config/.config/systemmonitorrc
config/.config/user-dirs.dirs
config/.config/Code/
config/.config/JetBrains/
config/.config/gtk-3.0/
config/.config/dconf/*
config/.config/dconf/
config/.config/dconf/user
